<a href="https://colab.research.google.com/github/SILVIAGONZALEZ1/Base-de-datos-II/blob/main/Ejercicios_base_de_datos_Google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombres =["Ana","Luis","Carlos"]
nombres[1]="Marta"
print("Lista modificada:", nombres)

Lista modificada: ['Ana', 'Marta', 'Carlos']

In [ ]:
letras = ['a','b','c','d','e','f']
letras[:3] =['A','B','C']
print(letras)

['A', 'B', 'C', 'd', 'e', 'f']

In [ ]:
mi_diccionario={"nombre": "Juan", "edad": 30, "ciudad": "Madrid"},{"nombre": "María", "edad": 25, "ciudad": "Barcelona"},{"nombre": "Carlos", "edad": 35, "ciudad": "Sevilla"},{"nombre": "Laura", "edad": 28, "ciudad": "Valencia"},{"nombre": "Pedro", "edad": 32, "ciudad": "Bilbao"},{"nombre": "Ana", "edad": 27, "ciudad": "Málaga"}


print(mi_diccionario)

({'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}, {'nombre': 'María', 'edad': 25, 'ciudad': 'Barcelona'}, {'nombre': 'Carlos', 'edad': 35, 'ciudad': 'Sevilla'}, {'nombre': 'Laura', 'edad': 28, 'ciudad': 'Valencia'}, {'nombre': 'Pedro', 'edad': 32, 'ciudad': 'Bilbao'}, {'nombre': 'Ana', 'edad': 27, 'ciudad': 'Málaga'})

In [ ]:
ciudades_del_mundo = {
    "Argentina": ["Bs.As", "Mza", "Cdba"],
    "España": ["Barcelona", "Madrid", "Cataluña"],
    "Francia": ["Paris", "Marcella", "Lyon"]
}

for pais, ciudades in ciudades_del_mundo.items():
    print(f"{pais} : {', '.join(ciudades)}")

Argentina : Bs.As, Mza, Cdba
España : Barcelona, Madrid, Cataluña
Francia : Paris, Marcella, Lyon

In [ ]:
import pandas as pd
datos = [14000, 15000, 12000, 8000, 9000]
indice = ["Enero", "Febrero", "Marzo", "Abril", "Mayo"]
ventas = pd.Series(datos, indice)
ventas
ventas.size
ventas.index
ventas.values
ventas["Enero"]

14000